.track-index {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-index-item {
  width: 90vw;
  margin-top: 3vh;
}

.track-index-item::after {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background-color: lightgray;
}

.track-index-item:last-of-type {
  margin-bottom: 3vh;
}

.track-index-item:last-of-type::after {
  height: 0;
}

.track-album-image {
  width: 100%;
  height: auto;
  outline: 1px solid lightgray;
}

.track-title {
  margin-top: 0.5vh;
  margin-left: 1.5vh;
  text-align: left;
  font-size: 3.5vh;
  font-weight: bold;
}

.track-artist {
  margin-top: -1vh;
  margin-bottom: 1.5vh;
  margin-left: 1.5vh;
  text-align: left;
  font-size: 2.5vh;
  color: gray;
}
